.hero{
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 35px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}
.hero h1 span{
    background:  linear-gradient(270deg,#DF8908 10%,#B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
.hero p{ 
    width: 80%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
} 
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    cursor: pointer;
    
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
   border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF;
}